<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExpressJs</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="wrapper">
        <header>Sum of two numbers</header>
        <form action="/formPost" id="form" method="post">
            <div class="form_wrapper">
                <label for="firstNum">First number: </label>
                <input type="text" id="firstNum" name="firstNum" placeholder="Enter the first number...">
                <label for="secondNum">Second number: </label>
                <input type="text" id="secondNum" name="secondNum" placeholder="Enter the second number...">
                <div class="submit-wrapper">
                    <input type="submit" value="Submit" class="submit-btn">
                </div>
            </div>
        </form>
    </div>
</body>
</html>